<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0wxYdi1PUf1_Gp-IaigqIgMeGIY9DOUY</string>
	<key>GCM_SENDER_ID</key>
	<string>94060502223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vaclav.tichy180.maturitaTichyRepo</string>
	<key>PROJECT_ID</key>
	<string>maturita-54231</string>
	<key>STORAGE_BUCKET</key>
	<string>maturita-54231.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94060502223:ios:6a80165ec14aa899872bba</string>
</dict>
</plist>